node_modules
.pnpm-store
dist
build
.turbo
.DS_Store
.env
.env.*
!.env.example
coverage
.vite
*.log
apps/api/generated
apps/web/dist
apps/api/dist
apps/web/.vite
apps/web/dev-dist
apps/web/public/sw.js
apps/web/public/workbox-*.js
